* { margin: 0px; ;
    padding: 0px;
}

header div 
{   background-color: rgb(168, 167, 167);
    width: 99%;
    text-align: right;
    padding: 5px 10px 5px 5px;
    margin: 10px 0px 5px;
}


.header_link
{
    font-family: 'Times New Roman', Times, serif;
    font-size:11.5px;
}

main div 
{   width: 60%;
    text-align: left;
    margin: auto;
    margin-bottom: 15px;
}

.main_texto
{   font-family:'Times New Roman', Times, serif;
    font-size: 12px;
    margin-top: 14px;
} 

 
footer 
{   background-color: rgb(168, 167, 167);
    width: 99.5%;
    padding: 1px;
    margin: 35px 0px 5px;
    display: flex;
    justify-content: center;
}

.footer_texto
{   font-family: 'Times New Roman', Times, serif;
    font-size:12px;
    margin-left: 5px;
}